.imgDados{
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: rgba(3, 38, 136, 0.685);
    border-radius: 10px;
    padding: 3px;
}
.imgDados:hover{
    background-color: rgba(3, 38, 136, 0.685);
    border-radius: 10px;
    padding: 3px;
    transform: scale(1.1);
    transition: 0.5s;
}